<header>
    <nav>
      <div class="navbar">
        <a id="home" href="/#ff">Home</a>
        <a id="dashboard" href="/u/123">Dashboard (WIP) </a>
        <a id="logout" href="/logout">Logout (WIP) </a>
      </div>
    </nav>
    
  </header>