<header>
  <nav>
    <div class="navbar">
      <a id="home" href="/#ff">Home</a>
      <a id="dashboard" href="/u/123">Dashboard (WIP) </a>
      <% if (isAuthenticated) {%><a id="logout" href="/logout">Logout</a> <% } %>
    </div>
  </nav>
</header>
