<%- include('./includes/meta') %>

<body>
  <%- include('./includes/nav') %>
  <%- include('./includes/logo') %>


  <form action="/signon" method="POST">
    <div class="form-style-7">
      <ul>
        <li>
          <label for="username"> Username </label>
          <input placeholder="Enter a username" name="username" type="text" value="" required />
        </li>
        <li>
          <label for="password"> Password </label>
          <input placeholder="* * * * * *" name="password" type="password" value="" required />
        </li>
        <li>
          <input type="submit" value="Let Me In!" name="login" formaction="/login"></input>
          <input type="submit" value="I'm New" name="register" id="green-input-button" formaction="/register"> </input>
        </li>
      </ul>
    </div>
  </form>